.menu-1{
    color:black;
    border: 2px solid black;
    background-color: #0B1838;
    gap: 5px;
    display: flex;
    align-items: center; 
}

.categorias {
    display: flex;
    width: 500px;
    list-style: disc;
    margin-left: 40%;
    padding: 0;
}

.categorias li{
    margin-left: 20%;
    display: flex;
}
main{
    height: 80%;
    border: 3px solid black;
    display: flex;
    align-items: center;
    background-color: #0B1838;
    
}
img{
    border: 3px solid black;
    margin: 30px
}

body{
    margin: 0px;
    padding: 0%;
}